@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #D1FAE5; /* A light green color */
}

/* Leaflet map styles */
.leaflet-container {
  height: 100%;
  width: 100%;
}

/* Custom marker popup styles */
.leaflet-popup-content-wrapper {
  border-radius: 0px;
}

.leaflet-popup-content {
  margin: 8px 12px;
  line-height: 1.4;
}